:root{
  --color--body: #b6e4ebc9;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body{
  background: var(--color--body);
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.container{
  margin: 100px 140px 40px;
  width: 80%;
  flex-wrap: wrap;
}
.contents{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.container__contents{
  display: flex;
  font-weight: 500;
}
.article{
  width: 40%;
  padding-top: 20px;
}
.qty{
  width: 15%;
  text-align: center;
  padding-top: 20px;
}
.price{
  width: 25%;
   text-align: center;
  padding-top: 20px;
}
.subtotal{
  width: 20%;
  text-align: center;
  padding-top: 20px;
}
.product__list{
  margin-top: 10px;
  /* background: white;
  width: 100%;
  height: 100px; */
}
.total{
 width: 80%;
 margin: 0px 140px;
 padding-right: 150px;
 display: flex;
 justify-content: flex-end;
}
.final__command{
  width: 100%;
  height: 90px;
  background: white;
  margin-top: 50px;
}
.btn{
  display: flex;
  justify-content: flex-end;
  padding: 27px 135px;
  gap: 20px;
}
button{
  padding: 0.6rem;
  border-radius: 5px;
  outline: none;
  border: none;
  
}
.btn-1, .btn-2{
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(110, 110, 110, 0.432);
  cursor: pointer;
  color: black;
}
.btn-2{
  background: rgb(255, 181, 44);
  color: white;
}